 .u-section-1 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 401px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 364px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-image-1 {
  width: 307px;
  height: 307px;
  background-image: url("images/sgAfyEUdTHA.jpg");
  background-position: 50% 50%;
  margin: 0 85px 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -31px auto 0 135px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 364px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 16px 29px 0 42px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 37px 69px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 48px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 252px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-table-1 {
  margin: 0 auto 60px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-ae72-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}